{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'fragments/core/core_css.html' %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
{% include 'fragments/navbar.html' %}

{{ name }}

<!-- {% if articles %}
    <div class="container">
        <div class="row">

        {% for article in articles %}
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        {{ article.title }}
                    </div>
                    <div class="card-body">
                        {{ article.text }}
                    </div>
                    <div class="card-footer">
                        <div class="btn btn-dark"><a href="/article/{{ article.id }}">more</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}-->
<div class="btn btn-success">ADD CONTENT</div>

<div class="container">
    <div id="data-here" class="row">

    </div>
</div>


{% include 'fragments/footer.html' %}
{% include 'fragments/core/core_js.html' %}

<script>
    let count = 0;
    $('.btn').click(function () {
        $.ajax({
            type: "POST",
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "post_id": count
            },
            url: "{% url 'load_data' %}",
            success: function (data) {
                if ( !jQuery.isEmptyObject(data) )
                    $('#data-here').append(
                        '<div class="col-lg-4">\n' +
                        '                <div class="card">\n' +
                        '                    <div class="card-header">' + data.title + count++ + '</div>' +
                        '                    <div class="card-body">\n' + data.text + '</div>' +
                        '<div class="card-footer">\n' +
                        '                        <div class="btn btn-dark"><a href="/article/' + data.id + '">more</a></div>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '            </div>'
                    );
            },
            error: function (err) {
                console.log('Error');
                console.log(err);
            }
        });
    });
</script>
</body>
</html>